.logo {
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: #181818;
  font-family: oswald, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
  text-align: center;
}
.subtitle {
  margin-top: 5px;
  line-height: 1.35em;
  font-size: 15px;
  color: #2e2e2e;
}
.title {
  font-weight: bold;
  line-height: 1.35em;
  font-family: oswald;

  color: rgb(24, 24, 24);
  font-size: 40px;
}
.section {
  padding: 48px 120px;
  height: 70vh;
  background-color: #ebebeb;
}
form {
  margin-top: 25px;
  display: flex;
}
